<h2>Hola {{usuario}} <a type="submit" class="btn btn-primary" onclick="return confirm('¿Esta seguro que desea salir?')"
                href='/salir'>Salir</a> <a type="submit" class="btn btn-primary" href='/cargar'>Volver</a>
</h2>
<div class="agregar">
        <form action="/cargare" method="post">

                <input type="hidden" name="id" value="{{empl.id}}" />

                <br>
                <label for="inputName">Nombre</label>
                <input maxlength="20" class="form-control" type="text" name="name" id="inputName"
                        value="{{empl.nombre}}" />

                <label for="inputDni">Dni</label>
                <input maxlength="10" class="form-control" type="number" name="dni" id="inputDni"
                        value="{{empl.dni}}" />

                <label for="inputTipo">Tipo</label>
                <input maxlength="10" class="form-control" type="text" name="tipo" id="inputTipo"
                        placeholder="Colocar el tipo de Licencia"/>

                <label for="inputDateini">Fecha Inicio</label>
                <input maxlength="10" class="form-control" type="date" name="dateini" id="inputDateini"
                        placeholder="Colocar la fecha de inicio" />

                <label for="inputDatefin">Fecha Fin</label>
                <input maxlength="10" class="form-control" type="date" name="datefin" id="inputDatefin"
                        placeholder="Colocar la fecha de fin" />
                <br>

                <button class="btn btn-primary" type="submit">Agregar</button>




        </form>
        <br>
        {{#if error}}
        <p>{{message}}</p>
        {{/if}}

</div>